body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#principal {
    margin: 10%;
}

#titre {
    border-width: 2px;
    border-color: #BF9268;
    border-style: solid;
    text-align: center;
    color: #303848;
}

#coordonee {
    text-align: center;
}
#principal h1 {
    font-size: 1.5em;
}
#principal h2 {
    font-size: 1.2em;
}

#objectif_style {
    text-align: center;
}



#objectif_style h3 {
    background-color: #303848;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    position: relative;   /* important */
    z-index: 2;
}


hr {
    display: block;
    height: 20px;
    width: 100%;
    border: 0;
    border-top: 1px solid #BF9268;
    margin: -1.9em 0;
    padding: 0;
    position: relative;   /* important */
    z-index: 1;
}