p{
    background-color: rgb(190, 159, 219);
    border-radius: 20px;
    text-align: center;
    border: 1px solid;
    margin: 0;
    padding: 20px;
}

.conteneur {
    flex-wrap: wrap;
    display: flex;
}

@media screen and (min-width: 900px) {
    body {
        background-color: green;
    }
    p {
        width: 20%;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: red;
    }
    p {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: blue;
    }
    p {
        width: 100%;
    }
}